 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Developer Skills</title>
 </head>
   <body>
     <h1>New Skill</h1>
     <form action="/skills" method="POST" autocomplete="off">
       <table>
       <tr>
       <td><label>Skill Name</label></td>
       <td><input type="text" name="skill"></td>
       </tr>
       <tr>
       <td><label>Proficency Level</label></td>
       <td><input type="text" name="proficency"></td>
       </tr>
       <td></td>
       <td><button type="submit">Save Skill</button></td>
       </table>
     </form>
   </body>
 </html>