 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Developer Skills</title>
 </head>
   <body>
     <h1> Skill: <%= skill.skill %></h1>
     <h3> Proficency Level <%= skill.proficency %></h3>
     <form action="/skills/<%= id %>?_method=DELETE"
       class="delete-form" method="POST">
       <button type="submit">X</button>
     </form>
   </body>
 </html>

